:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --accent-bg-color: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.button:hover,
.button:focus {
  color: #404bbf;
}

button {
  cursor: pointer;
}

/* header */

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  color: var(--title-text-color);
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.address-contact {
  font-style: normal;
}

/* section hero */
.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* section advantages */
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section examples */

.examples-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

/* section team */

.team {
  background-color: var(--accent-bg-color);
}

.team-item {
  background-color: var(--primary-bg-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.employee-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* section samples */

.samples-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.samples-button:hover,
.samples-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.samples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
}

.samples-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-studio {
  color: #f4f4fd;
}
